:root {
    --color-primary: #97AABD;
    --color-secondary: #314455;
    --color-tertiary: #690505;
    --bg-primary: #FBFAF5;
    --text-primary: #181A18;
}

html, body {
    min-height: 100%;
    width: auto;
    margin: 0;
    padding: 0;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    font-family: 'Lato', sans-serif;
}

header {
    padding: 1rem 1.5rem;
    margin: 0 0 2rem 0;
    border-bottom: 8px solid var(--color-tertiary);
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: var(--bg-primary);
    z-index: 3;
    text-align: center;
}

.header-title a {
    text-decoration: none;
    color: var(--text-primary);
    font-size: 3.5rem;
    padding-left: 1rem;
}

nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #225ca3;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
}

.login-link, .btn-no-style {
    text-decoration: none;
    color: var(--color-tertiary);
    font-size: 1.5rem;
    margin: .5rem;
}

.homepage-heading {
    width: 20vw;
    text-align: center;
    margin: 0 auto 1rem auto;
    padding-bottom: 1.5rem;
    font-size: 2rem;
    border-bottom: 3px solid var(--color-tertiary);
}

.post-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
    padding: 0;
    border-bottom: 5px solid var(--color-secondary);
    border-top: 5px solid var(--color-secondary);
    margin-bottom: 1rem;
    transition-property: border-bottom border-top padding-left background-color;
    transition-duration: 1s;
}

.post-list:hover {
    padding-left: 10vw;
    background-color: var(--color-primary);
    border-bottom: 5px solid var(--color-tertiary);
    border-top: 5px solid var(--color-tertiary);
}

.post, .post a {
    min-height: 20vh;
    min-width: 70vw;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.post a {
    text-decoration: none;
    color: var(--text-primary);
}

.post-title {
    font-size: 2rem;
}

.login-form, .signup-form, .new-post-form {
    width: 80%;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 2rem;
}

.login-form div, .signup-form div, .new-post-form div {
    margin: 1.5rem 0;
    font-size: 2rem;
}

.login-form div input, .signup-form div input, .new-post-form div input, .edit-post-form div input {
    height: 2rem;
    font-size: 1.5rem;
}

.edit-post-form div input {
    margin-bottom: 1.5rem;
}

.login-form div button, .signup-form div button {
    height: 70px;
    width: 90px;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: var(--color-primary);
    border-radius: 5px;
    border: none;
}

.signup-form div button {
    width: 120px;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
    margin: 0 15vw;
}

.post-page-post {
    border-bottom: 5px solid var(--color-tertiary);
    padding-bottom: 10vh;
}

.post-title {
    text-align: center;
    font-size: 2.5rem;
}

.post-subtitle {
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
}

.comment-form, .new-post-form, .edit-post-form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-top: 2rem;
    border-top: 5px solid var(--color-tertiary);
}

.new-post-form, .edit-post-form {
    border: none;
    margin-top: 0;
}

.post-form-textarea, .post-form-input {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.post-form-textarea label, .post-form-input label {
    margin-right: 1rem;
}

.comment-form textarea, .new-post-form textarea {
    width: 200px;
    height: 100px;
    resize: none;
}

.post-form-textarea textarea {
    width: 500px;
}

.comment-form div, .edit-post-form div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: .5rem;
}

.comment-form div button, .new-post-form button, .edit-post-form button {
    height: 70px;
    width: 98px;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: var(--color-primary);
}

.edit-btn {
    display: flex;
    flex-flow: row wrap;
}

.comments {
    display: flex;
    flex-flow: column wrap;
}

.comment {
    margin: 1rem;
    min-width: 50vw;
    max-width: 50vw;
    padding: .5rem;
    font-size: 1.1rem;
    border-top: 5px solid var(--color-secondary);
    border-bottom: 5px solid var(--color-secondary);
}

.comment .meta {
    font-style: italic;
    font-weight: bold;
}

.dashboard-title {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 2rem;
    border-bottom: 5px solid var(--color-tertiary);
}

.dashboard-title-2 {
    border-top: 5px solid var(--color-tertiary);
    margin-bottom: 1rem;
    padding-top: 1rem;
}

.edit-link {
    width: 20%;
    padding: 1rem;
    background-color: var(--color-secondary);
    color: var(--bg-primary);
    margin: 0 auto 1rem auto;
    border-radius: 5px;
    text-align: center;
}

.dashboard-list-container {
    display: flex;
    flex-flow: column wrap;
}

.edit-post {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

footer {
    position: absolute;
    bottom: 0;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    padding: .5rem;
    font-size: 1.2rem;
}



@media screen and (max-width: 800px) {
    .header-title a {
        font-size: 2.5rem;
    }

    .post-form-textarea textarea {
        width: 300px;
    }

    .edit-link {
        font-size: 1.2rem;
        width: 40%;
    }

    footer {
        display: none;
    }
}