:root {
    --color-primary: #97AABD;
    --color-secondary: #314455;
    --color-tertiary: #690505;
    --bg-primary: #FBFAF5;
    --text-primary: #181A18;
}

html, body {
    min-height: 100%;
    width: auto;
    margin: 0;
    padding: 0;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    font-family: 'Lato', sans-serif;
}

header {
    padding: 1rem 1.5rem;
    margin: 0 2rem 2rem 2rem;
    border-bottom: 8px solid var(--color-tertiary);
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.header-title a {
    text-decoration: none;
    color: var(--text-primary);
    font-size: 3.5rem;
    padding-left: 1rem;
}

nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #225ca3;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
}

.login-link, .btn-no-style {
    text-decoration: none;
    color: var(--color-tertiary);
    font-size: 1.5rem;
    margin: .5rem;
}

.homepage-heading {
    width: 20vw;
    text-align: center;
    margin: 0 auto 1rem auto;
    padding-bottom: 1.5rem;
    font-size: 2rem;
    border-bottom: 3px solid var(--color-tertiary);
}

.post-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
    padding: 0;
    border-bottom: 5px solid var(--color-secondary);
    border-top: 5px solid var(--color-secondary);
    margin-bottom: 1rem;
    transition-property: border-bottom border-top padding-left background-color;
    transition-duration: 1s;
}

.post-list:hover {
    padding-left: 10vw;
    background-color: var(--color-primary);
    border-bottom: 5px solid var(--color-tertiary);
    border-top: 5px solid var(--color-tertiary);
}

.post, .post a {
    min-height: 20vh;
    min-width: 70vw;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.post a {
    text-decoration: none;
    color: var(--text-primary);
}

.post-title {
    font-size: 2rem;
}

.login-form, .signup-form {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
}

.login-form div, .signup-form div {
    margin: 1.5rem 0;
    font-size: 2rem;
}

.login-form div input, .signup-form div input {
    height: 2rem;
    font-size: 1.5rem;
}

.login-form div button, .signup-form div button {
    height: 5vh;
    width: 8vw;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: var(--color-primary);
    border-radius: 5px;
    border: none;
}

footer {
    position: absolute;
    bottom: 0;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    padding: .5rem;
    font-size: 1.2rem;
}